body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  color: #003651;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/032/902/original/markus-winkler-afW1hht0NSs-unsplash.jpg?1651099009);
  background-attachment: fixed;
  background-size: 100% 100%;
}
