body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  color: #003651;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/028/324/original/Horizon.png?1646115217);
  background-attachment: fixed;
  background-size: 100% 100%;
}
