.forecast {
  padding: 0 96px 0 106px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.list-group-item {
  background-color: #f7f3ff;
  color: #003651;
  word-spacing: 60px;
}
